.hidden {
    display: none;
}

.show {
    display: block;
}

.white-color {
    color: white;
  }

.delete-color {
    background-color: rgba(250, 133, 103, 0.73);
}

.edit-color {
    background-color: rgba(174,130,232,0.73);
}

.save-color {
    background-color: #83d17cba;
}

.candify-btn {
    font-size: 25px;
  
}

  .side-btn-right {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
  }
  .side-btn-left {   
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      -webkit-box-shadow: -3px 1px 5px 0px rgba(174,130,232,1);
      -moz-box-shadow: -3px 1px 5px 0px rgba(174,130,232,1);
      box-shadow: -3px 1px 5px 0px rgba(174,130,232,1);
  }

  .candify {
    height: 35px;
  }

  .candify-25 {
      height: 31px;
      -webkit-box-shadow: -3px 1px 5px 0px rgba(174,130,232,1);
      -moz-box-shadow: -3px 1px 5px 0px rgba(174,130,232,1);
      box-shadow: -3px 1px 5px 0px rgba(174,130,232,1);
  }

  .candify-left {
    border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  .candify-right {
    border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .margin-left {
      margin-left: 10px;
  }

  .margin-right {
      margin-right: 10px;
  }

  li {
      display: block;
  }

  li span .check-circle {
      float: right;

  }