/* .page {
    height: 100%;
} */
.logo-curtain {
    background: rgb(67, 0, 105);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.logo-curtain > h3, label, i {
    color: white;
}

.md-show {
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
}

.md-hide {
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
}

@media(min-width:35em){ /* Breakpoint only for mobile */
    .logo-curtain{
      top: 56px;
      text-align: center;
    }
  }


@media(max-width:35em){ /* Breakpoint only for mobile */
    .logo-curtain{
      padding-top: 20em;
      bottom: 56px;
      text-align: center;
    }
  }

.fa-search {
    cursor:text;
}

.searchform .input-style {
    /* background:black; */
    outline: none;
    border: none;
    border-bottom: solid 1px white;
}

.searchform input[type=text] {
    width: 80px;
    font-size: 3em;
    background-position: 0px 0px center;
    outline: none;
    border: none;
    background: url(./images/binocular-white.svg);
    text-align: center;
    background-repeat: no-repeat;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    cursor: pointer;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}


/* progress bar */
#bar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
}

