.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select {
  overflow: auto;
}

.panel-body {
  padding: 0;
  border: solid 1px rgb(109, 109, 109);
  border-radius: 3px;
}

.form-control {
  border: none;
}

.food-selection {
  margin-left: 10px;
  margin-right: 10px;
}