.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select {
  overflow: auto;
}

.panel-body {
  padding: 0;
  border: solid 1px rgb(109, 109, 109);
  border-radius: 3px;
}

.form-control {
  border: none;
}

.food-selection {
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

.soft-glow {
  background: rgb(2,0,36);
  color: white;
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,95,255,1) 0%, rgba(171,167,255,1) 87%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,95,255,1) 0%, rgba(171,167,255,1) 87%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,95,255,1) 0%, rgba(171,167,255,1) 87%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#aba7ff",GradientType=1);
}

.bottom-spacing {
  margin-bottom: 10px;
}

.soft-glow-shadow {
  -webkit-box-shadow: 6px 16px 81px -22px rgba(84,95,255,1);
-moz-box-shadow: 6px 16px 81px -22px rgba(84,95,255,1);
box-shadow: 6px 16px 81px -22px rgba(84,95,255,1);
}