.App {
  text-align: center;
}

.app-container {
  padding-bottom: 5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banner-theme {
  background:rgba(171,167,255,1); /* Old browsers */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select {
  overflow: auto;
}

.panel-body {
  padding: 0;
  border: solid 1px rgb(109, 109, 109);
  border-radius: 3px;
}

.form-control {
  border: none;
}

/* .food-selection {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
} */

ul {
  list-style-type: none;
}

.soft-glow {
  background: rgb(2,0,36);
  color: white;
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,95,255,1) 0%, rgba(171,167,255,1) 87%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,95,255,1) 0%, rgba(171,167,255,1) 87%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,95,255,1) 0%, rgba(171,167,255,1) 87%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#aba7ff",GradientType=1);
}

.bottom-spacing {
  margin-bottom: 10px;
}

.soft-glow-shadow {
  -webkit-box-shadow: 6px 16px 81px -22px rgba(84,95,255,1);
-moz-box-shadow: 6px 16px 81px -22px rgba(84,95,255,1);
box-shadow: 6px 16px 81px -22px rgba(84,95,255,1);
}

/* Each Route Webpage */
.page {
  height: 100%;
  position: relative;
  overflow: auto;
}

/* NAVBAR */

.navbar{ /* Every rule that will be always visible, something like colors, fonts, etc. */
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(235, 236, 247) 0%, rgba(171,167,255,1) 87%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(235, 236, 247) 0%, rgba(171,167,255,1) 87%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(235, 236, 247) 0%, rgba(171,167,255,1) 87%);
  /* background: whitesmoke; */
  position: fixed;
  text-align: justify;
  overflow: hidden;
  z-index: 2;
}

li > a {
  color: white;
}

li > a:hover {
  color: black;
}
li > a:active {
  color: green;
}

@media(min-width:35em){ /* Breakpoint only for desktop & tablets */
  .navbar{
    top: 0;
    width: 100%;
    text-align: right;
  }
  .navbar li {
    /* display: inline-block; */
    text-align: right;
    float: right;
  }
  .page{
    margin-top: 56px;
  }
}

@media(max-width:35em){ /* Breakpoint only for mobile */
  .navbar{
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .page{
    margin-bottom: 57px;
  }
}

/* Modals */
.md-show {
  visibility: visible;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* general */

.red {
  background-color: red;
}

